<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gateway Timeout - Kalaq.net</title>
    <link type="text/css" rel="stylesheet" href="../../css/hydor.css" />
    <link rel="icon" type="image/x-icon" href="../../assets/fav.ico" />
  </head>
  <body>
    <div id="error">
      <div class="error">
        <img src="../../assets/svg/hydor/504.svg" alt="" />
        <h1 id="typing-effect">Gateway Timeout</h1>
        <p>
          The server did not receive a response in time. Please try again later.
        </p>
      </div>
    </div>
    <footer>
      <div class="footer">
        <p>
          Designed with ❤️ by <a href="https://amirhesam.org">AmirHesam Piri</a>
        </p>
      </div>
    </footer>
  </body>
</html>
